.navbar {
	background: black;
	border: none;
	opacity: 0.85;
}

.navbar a {
	font-family: Wisdom Script AI;
	url:src(assets/fonts/WisdomScript.otf);
	font-size: 16px;
}

body {
	padding-top: 110px;
}
.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	width: 440px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2c3f52;
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

/* Individual Caption Styles */
/* Caption Style 3 */
.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

@media screen and (max-width: 31.5em) {
	.grid {
		padding: 10px 10px 100px 10px;
	}
	.grid li {
		width: 100%;
		min-width: 300px;
	}
}



#about-section {
	padding-top: 30px;
	padding-bottom: 40px;
	margin-left: 0px;
	background: #e8e8e8;
}

.about-image {
	border-radius: 175px;
}

#about-description {
	margin-top: 0px;
}

.about-intro-1 {
	font-family: Fairview;
	url:src(assets/fonts/Fairview_Regular.otf);
	font-size: 28px;
	margin-bottom: 0px;
	line-height: 28px;
}

.about-intro-2 {
	font-family: Wisdom Script AI;
	url:src(assets/fonts/WisdomScript.otf);
	font-size: 36px;
	margin-top: 0px;
	line-height: 40px;
}

.name-hyphen {
	letter-spacing: -7px;
}



#contact-section {
	padding-top: 30px;
	padding-bottom: 40px;
	background: #e8e8e8;
}

.contact-intro-1 {
	font-family: Fairview;
	url:src(assets/fonts/Fairview_Regular.otf);
	font-size: 28px;
	margin-bottom: 0px;
	line-height: 28px;
}

.contact-intro-2 {
	font-family: Wisdom Script AI;
	url:src(assets/fonts/WisdomScript.otf);
	font-size: 36px;
	margin-top: 0px;
	line-height: 40px;
}

#footer {
	background: black;
}

#footer p {
	padding-top: 5px;
}

.text-muted-credit {
	font-size: 10px;
	color: white;
}