.navbar {
	background: black;
	border: none;
	opacity: 0.85;
}

.navbar a {
	font-family: Wisdom Script AI;
	url:src(assets/fonts/WisdomScript.otf);
	font-size: 16px;
}

body {
	padding-top: 110px;
}

#about-section {
	padding-top: 30px;
	padding-bottom: 40px;
	margin-left: 0px;
	background: #e8e8e8;
}

.about-image {
	border-radius: 175px;
}

#about-description {
	margin-top: 0px;
}

.about-intro-1 {
	font-family: Fairview;
	url:src(assets/fonts/Fairview_Regular.otf);
	font-size: 28px;
	margin-bottom: 0px;
	line-height: 28px;
}

.about-intro-2 {
	font-family: Wisdom Script AI;
	url:src(assets/fonts/WisdomScript.otf);
	font-size: 36px;
	margin-top: 0px;
	line-height: 40px;
}

.name-hyphen {
	letter-spacing: -7px;
}

#project-thumbnails {
	padding-bottom: 40px;
	background: white;
}

#project-thumb {
	padding-top: 40px;
}

.imgWrap {
	position: relative;
	height: 250px;
	width: 250px;
}

.project-thumb-title {
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 85px;
	padding-left: 0px;

	visibility: hidden;
	opacity: 0;

	-webkit-transition: visibility 0.2s;
	-webkit-transition: opacity 0.2s;
}

.imgWrap:hover .project-thumb-title {
	visibility: visible;
	opacity: 1;
	
	font-family: Fairview;
	url:src(assets/fonts/Fairview_Regular.otf);
	font-size: 28px;
	line-height: 26px;
	text-decoration: none;
	color: black;
}

.project-thumb-type {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 65px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding-top: 80px;
	padding-left: 0px;
	background: rgba(255, 255, 255, 0.75);
	color: black;

	visibility: hidden;
	opacity: 0;

	-webkit-transition: visibility 0.2s;
	-webkit-transition: opacity 0.2s;
}

.imgWrap:hover .project-thumb-type {
	visibility: visible;
	opacity: 1;
	
	font-family: Wisdom Script AI;
	url:src(assets/fonts/WisdomScript.otf);
	font-size: 18px;
}

#contact-section {
	padding-top: 30px;
	padding-bottom: 40px;
	background: #e8e8e8;
}

.contact-intro-1 {
	font-family: Fairview;
	url:src(assets/fonts/Fairview_Regular.otf);
	font-size: 28px;
	margin-bottom: 0px;
	line-height: 28px;
}

.contact-intro-2 {
	font-family: Wisdom Script AI;
	url:src(assets/fonts/WisdomScript.otf);
	font-size: 36px;
	margin-top: 0px;
	line-height: 40px;
}

#footer {
	background: black;
}

#footer p {
	padding-top: 5px;
}

.text-muted-credit {
	font-size: 10px;
	color: white;
}